/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

h3{
    color: #0084fd;
    font-size: 1.3rem;
}

.btn{
    border-radius: 20px;
    background-color: aliceblue;
    padding: 10px 20px;
    color: black;
}

/* HEADER */

header {
    background-color: #0084fd;
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline-block;
    margin-right: 20px;

}

header a:hover {
    color: red;
}

#hamburger {
    display: none;
    font-size: 40px;
    color: aliceblue;
}

/* MAIN */

main {
    margin-top: 125px;
}

/* sezione future */

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #b5ddff;
    width: calc(100% / 3 - 20px);
    border-radius: 20px;
    margin: 10px;
    /* debug */
    min-height: 300px;
    text-align: center;
    
    

}
.text-card{
    width: 100%;
    padding: 30px;
    line-height: 35px;
}
.card img{
    width: 100%;
}

.card.big {
    width: calc(calc((100% / 3)*2) - 20px);
    display: flex;
    text-align: left;
    
}

.big img{
    position: relative;
    bottom:0;
    align-self: flex-end;
    width: 350px;
    padding: 0 70px;
}

.appstore{
    background-color: #0084fd;
    color: white;

}

#plan {


    margin-top: 100px;
    background-color: #9593e6;
}

.small {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;


}

.small img {
    width: 90%;
}

.small h1 {

    font-size: 30px;
    margin-bottom: 20px;
}


.strategic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: 100%;
    align-self: flex-start;
    color: white;
    margin-right: 60px;
    line-height: 30px;
    padding: 50px;

}

.development {
    width: 45%;
    align-self: flex-end;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    padding: 50px;
}

.testimonials {
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
}

.card-testi {
    width: 100%;
    background-color: #9792e4;
    min-height: 250px;
    border-radius: 20px;
    margin: 40px 0;
    padding: 0px 50px;
    display: flex;
    align-items: center;
}

#benef {
    background-color: #9593e6;
}

.benefits {

    text-align: center;
    color: white;
    font-size: 30px;

}

.benefits h1 {
    padding: 60px;
}

.white {
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding: 50px 20px;
    line-height: 4rem;
}
.white p{
    color: black;
    line-height: 25px;
}
.white h2{
    color: #0084fd;
    font-size: 55px;
}


.ab-us {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    line-height: 40px;

}

.about {
    width: 60%;

}

.linkedin {
    width: 30%;
    font-size: 1rem;
}

/*classe generale per le immagini rotonde*/

.round{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right:20px;
}

#free {
    height: 50vh;
    background-color: #9593e6;
}


footer {
    height: 30vh;
    background-color: #333333;
}

/* TABLET */

@media screen and (max-width: 1010px) {
    #hamburger {
        display: block;
    }

    #menu-desktop {
        display: none;
    }
    .container{
        width: 90%;
    }

    .small {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .strategic {
        width: 100%;
    }

    .development {
        width: 100%;
    }

    .small img {
        width: 100%;
    }

    .white{
        width: calc(100%/2 - 20px);
        
    }

    .big{
        flex-wrap: wrap;
    }

    .card-testi{
        flex-wrap: wrap;
        justify-content: center;
    }


}

/* SMARTPHONE */

@media screen and (max-width: 750px) {

    .cards {
        display: block;
    }

    .card,
    .card.big {
        width: calc(100% - 20px);
    }

    .ab-us {
        width: 100%;
        flex-direction: column;
    
    }

    .about{
        width: 100%;
    }

    .linkedin{
        width: 50%;
    }

}